.head-background,
.overlay-background,
.firstsection {
    height: 50vh;
}

.blue-text {
    color: var(--primary-blue);
}
.white-text {
    color: white;
}

.section h1 {
    color: var(--secondary-black);
    text-transform: none;
    font-size: 64px;
    font-weight: 800;
    padding: 0 10px;
    text-align: center;
}

.owl-carousel-navlist .owl-nav {
    display: none !important;
}
.owl-carousel-navlist .owl-dots {
    display: none !important;
}
/* -----NAV BUTTON----- */
