:root {
    --primary-blue: #047d81;
    --secondary-blue: #024143;
    --dark-secondary-blue: #022120;
    --secondary-black: #3a4042;
    --white-card: #dfdfdf;
}

html {
    box-sizing: border-box;
}

.head-background,
.overlay-background,
.firstsection {
    height: 80px;
}

.blue-text {
    color: var(--primary-blue);
}

.white-text {
    color: white;
}

.section h1 {
    color: var(--secondary-black);
    text-transform: none;
    font-size: 64px;
    font-weight: 800;
    padding: 0 10px;
}

.owl-carousel-navlist .owl-nav {
    display: none !important;
}

@media screen and (max-width: 864px) {
    .section h1 {
        font-size: 48px;
    }
}

.image-show {
    padding: 20px;
}

.item {
    width: 100%;
}

.item img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
    border-radius: 10px;
}

.right-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6px;
}

.header2 {
    font-size: 28px;
    font-weight: 700;
    padding: 10px;
    color: var(--secondary-black);
}

.header3 {
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
}

.planning-card .blue-button {
    text-align: center;
}

.planning-card .blue-button:hover {
    background-color: white;
    cursor: pointer;
}

.planning-card p {
    color: white;
}

.planning-card {
    background-color: var(--primary-blue);
    border-radius: 10px;
}

.plan-map {
    padding: 10px 0;
}

.plan-map img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    height: 10rem;
}

