.head-background,
.overlay-background,
.firstsection {
    height: 50vh;
}

.blue-text {
    color: var(--primary-blue);
}

.white-text {
    color: white;
}

.section h1 {
    color: var(--secondary-black);
    text-transform: none;
    font-size: 64px;
    font-weight: 800;
    padding: 0 10px;
    text-align: center;
}

.owl-carousel-navlist .owl-nav {
    display: none !important;
}

.owl-carousel-navlist .owl-dots {
    display: none !important;
}

input,
textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1rem;
    color: black;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: black;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: black;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: black;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: black;
}

p {
    line-height: 1.3125rem;
}

.comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
}

.comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}

.photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
}

.photo .avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
}

.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.comment-block textarea {
    width: 100%;
    resize: none;
}

.comment-text {
    margin-bottom: 1.25rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--secondary-black);
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-date {
    float: left;
}

.comment-actions {
    float: right;
}

.comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer;
    color: var(--secondary-black);
}

.comment-actions li.complain {
    padding-right: 0.75rem;
    border-right: 1px solid #e1e5eb;
}

.comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
}

.comment-actions li:hover {
    color: var(--primary-blue);
}

/* Small reset */
*,
::before,
::after {
    box-sizing: border-box;
}


figure {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

p {
    margin: 1em 0;
    line-height: 1.4;
}

.my-shuffle-container {
    position: relative;
    overflow: hidden;
}

.my-sizer-element {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.picture-item {
    height: 220px;
    margin-top: 24px;
}

.picture-item img {
    display: block;
    width: 92%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.63);

}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
    .picture-item img {
        max-width: none;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.picture-item--h2 {
    height: auto;
    /* 2x the height + 1 gutter */
}

.picture-item__inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: none;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

.picture-item__details {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

.picture-item__description {
    width: 100%;
    padding: 0 2em 1em 1em;
    margin: 0;
}

.picture-item__title {
    flex-shrink: 0;
    margin-right: 4px;
}

.picture-item__tags {
    flex-shrink: 1;
    text-align: right;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .picture-item--overlay .picture-item__details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        -webkit-backdrop-filter: blur(7px);
        backdrop-filter: blur(7px);
        color: white;
        overflow: hidden;
    }

    .picture-item--overlay .picture-item__description {
        display: none;
    }

    .picture-item--overlay a {
        color: white;
        text-shadow: 0 0 1px black;
    }
}

@media screen and (max-width: 767px) {
    .picture-item {
        height: auto;
        margin-top: 20px;
    }

    .picture-item__details,
    .picture-item__description {
        font-size: 0.875em;
        padding: 0.625em;
    }

    .picture-item__description {
        padding-right: 0.875em;
        padding-bottom: 1.25em;
    }

    .picture-item--h2 {
        height: auto;
    }
}

.filter-label {
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--secondary-black);
}

.filters-group {
    padding: 0;
    margin: 0 0 4px;
    border: 0;
}

@media screen and (min-width: 768px) {
    .filters-group-wrap {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}

.btn-group:after,
.btn-group:before {
    content: " ";
    display: table;
}

.btn-group:after {
    clear: both;
}

.btn-group .btn {
    float: left;
    border-radius: 0;
}

.btn-group .btn:first-child {
    border-radius: 3px 0 0 3px;
}

.btn-group .btn:not(:first-child) {
    margin-left: -1px;
}

.btn-group .btn:last-child {
    border-radius: 0 3px 3px 0;
}

.btn-group label.btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn {
    display: inline-block;
    padding: .55em .8em;
    text-align: center;
    border-radius: 3px;
    border: 1px solid var(--secondary-blue);
    color: var(--secondary-blue);
    font-size: 1rem;
    background-color: rgba(52, 73, 94, 0);
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    -webkit-appearance: none;
}

@media (-moz-touch-enabled: 0),
(pointer: fine) {
    .btn:hover {
        color: #fff;
        text-decoration: none;
        background-color: var(--secondary-blue);
    }
}

.btn:focus {
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(52, 73, 94, 0.4);
}

.btn.active,
.btn:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff;
    background-color: var(--secondary-blue);
}

.btn:focus.active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(52, 73, 94, 0.4);
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .7;
    color: var(--secondary-blue);
    background-color: rgba(52, 73, 94, 0);
}

.btn--primary {
    color: var(--primary-blue);
    border-color: var(--primary-blue);
    background-color: rgba(52, 152, 219, 0);
}

@media (-moz-touch-enabled: 0),
(pointer: fine) {
    .btn--primary:hover {
        background-color: var(--primary-blue);
    }
}

.btn--primary:focus {
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.4);
}

.btn--primary.active,
.btn--primary:active {
    background-color: var(--primary-blue);
}

.btn--primary:focus.active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 0 2px rgba(52, 152, 219, 0.4);
}

.btn--primary:disabled {
    color: var(--primary-blue);
    background-color: rgba(52, 152, 219, 0);
}

@media screen and (max-width: 767px) {
    .btn {
        font-size: 0.875rem;
    }
}

.textfield {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid;
    border-radius: 4px;
    padding: .5em;
    font-size: 1rem;
    color: #34495e;
    -webkit-transition: 0.15s;
    transition: 0.15s;
}

.textfield::-webkit-input-placeholder {
    color: var(--secondary-black);
    -webkit-transition: 0.15s;
    transition: 0.15s;
}

.textfield:-ms-input-placeholder {
    color: var(--secondary-black);
    -ms-transition: 0.15s;
    transition: 0.15s;
}

.textfield::-ms-input-placeholder {
    color: var(--secondary-black);
    -ms-transition: 0.15s;
    transition: 0.15s;
}

.textfield::-moz-placeholder {
    color: var(--secondary-black);
    -moz-transition: 0.15s;
    transition: 0.15s;
}

.textfield::placeholder {
    color: var(--secondary-black);
    -webkit-transition: 0.15s;
    transition: 0.15s;
}

.textfield:hover {
    outline-width: 0;
    color: var(--secondary-blue);
    border-color: var(--primary-blue);
}

.textfield:hover::-webkit-input-placeholder {
    color: var(--secondary-blue);
}

.textfield:hover:-ms-input-placeholder {
    color: var(--secondary-blue);
}

.textfield:hover::-ms-input-placeholder {
    color: var(--secondary-blue);
}

.textfield:hover::-moz-placeholder {
    color: var(--secondary-blue);
}

.textfield:hover::placeholder {
    color: var(--secondary-blue);
}

.textfield:focus {
    outline-width: 0;
    border-color: var(--primary-blue);
}

.textfield:focus::-webkit-input-placeholder {
    color: var(--secondary-blue);
}

.textfield:focus:-ms-input-placeholder {
    color: var(--secondary-blue);
}

.textfield:focus::-ms-input-placeholder {
    color: var(--secondary-blue);
}

.textfield:focus::-moz-placeholder {
    color: var(--secondary-blue);
}

.textfield:focus::placeholder {
    color: var(--secondary-blue);
}

.container {
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.container:after,
.container:before {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row:after,
.row:before {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row .row {
    margin-left: -8px;
    margin-right: -8px;
}

/* Ensure images take up the same space when they load */
/* https://vestride.github.io/Shuffle/images */
.aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.aspect__inner {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
}

.aspect--16x9 {
    padding-bottom: 56.25%;
}

.col-1\@xs,
.col-2\@xs,
.col-3\@xs,
.col-4\@xs,
.col-5\@xs,
.col-6\@xs,
.col-1\@sm,
.col-2\@sm,
.col-3\@sm,
.col-4\@sm,
.col-5\@sm,
.col-6\@sm,
.col-7\@sm,
.col-8\@sm,
.col-9\@sm,
.col-10\@sm,
.col-11\@sm,
.col-12\@sm,
.col-1\@md,
.col-2\@md,
.col-3\@md,
.col-4\@md,
.col-5\@md,
.col-6\@md,
.col-7\@md,
.col-8\@md,
.col-9\@md,
.col-10\@md,
.col-11\@md,
.col-12\@md {
    position: relative;
    box-sizing: border-box;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
}

.col-1\@xs,
.col-2\@xs,
.col-3\@xs,
.col-4\@xs,
.col-5\@xs,
.col-6\@xs {
    float: left;
}

.col-1\@xs {
    width: 16.66667%;
}

.col-2\@xs {
    width: 33.33333%;
}

.col-3\@xs {
    width: 50%;
}

.col-4\@xs {
    width: 66.66667%;
}

.col-5\@xs {
    width: 83.33333%;
}

.col-6\@xs {
    width: 100%;
}

@media screen and (min-width: 768px) {

    .col-1\@sm,
    .col-2\@sm,
    .col-3\@sm,
    .col-4\@sm,
    .col-5\@sm,
    .col-6\@sm,
    .col-7\@sm,
    .col-8\@sm,
    .col-9\@sm,
    .col-10\@sm,
    .col-11\@sm,
    .col-12\@sm {
        float: left;
    }

    .col-1\@sm {
        width: 8.33333%;
    }

    .col-2\@sm {
        width: 16.66667%;
    }

    .col-3\@sm {
        width: 25%;
    }

    .col-4\@sm {
        width: 33.33333%;
    }

    .col-5\@sm {
        width: 41.66667%;
    }

    .col-6\@sm {
        width: 50%;
    }

    .col-7\@sm {
        width: 58.33333%;
    }

    .col-8\@sm {
        width: 66.66667%;
    }

    .col-9\@sm {
        width: 75%;
    }

    .col-10\@sm {
        width: 83.33333%;
    }

    .col-11\@sm {
        width: 91.66667%;
    }

    .col-12\@sm {
        width: 100%;
    }

    .container {
        padding-left: 7%;
        padding-right: 7%;
    }

    .row {
        max-width: 1200px;
    }
}

@media screen and (min-width: 1024px) {

    .col-1\@md,
    .col-2\@md,
    .col-3\@md,
    .col-4\@md,
    .col-5\@md,
    .col-6\@md,
    .col-7\@md,
    .col-8\@md,
    .col-9\@md,
    .col-10\@md,
    .col-11\@md,
    .col-12\@md {
        float: left;
    }

    .col-1\@md {
        width: 8.33333%;
    }

    .col-2\@md {
        width: 16.66667%;
    }

    .col-3\@md {
        width: 25%;
    }

    .col-4\@md {
        width: 33.33333%;
    }

    .col-5\@md {
        width: 41.66667%;
    }

    .col-6\@md {
        width: 50%;
    }

    .col-7\@md {
        width: 58.33333%;
    }

    .col-8\@md {
        width: 66.66667%;
    }

    .col-9\@md {
        width: 75%;
    }

    .col-10\@md {
        width: 83.33333%;
    }

    .col-11\@md {
        width: 91.66667%;
    }

    .col-12\@md {
        width: 100%;
    }
}


/* -----NAV BUTTON----- */